
@font-face {
    font-family: 'Segoe WP', sans-serif;
    src: url('fonts/SegoeWP.woff2') format('woff2'),
    url('fonts/SegoeWP.woff') format('woff');
}

@font-face {
    font-family: 'Segoe WP N', sans-serif;
    src: url('fonts/SegoeWPN.woff2') format('woff2'),
    url('fonts/SegoeWPN.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Symbol', sans-serif;
    src: url('fonts/seguisym.woff2') format('woff2'),
    url('fonts/seguisym.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica LT Std', sans-serif;
    src: url('fonts/HelveticaLTStd-Light.woff2') format('woff2')
}


@font-face {
    font-family: 'Helvetica LT Std', sans-serif;
    src: url('fonts/HelveticaLTStd-Bold.woff2') format('woff2')
}
